body {
  background-color: #73a7a5;
  background-image: url(../src/img/comida.png);
  background-size: 10%;
  background-position: -100px -100px;

  height: 100vh;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#container1 {
  width: auto;
  height: auto;

  min-width: 15%;
  min-height: 20%;

  background-color: #41848d;

  border-radius: 25px;

  color: #f0ead1;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#container1 > * {
  margin: 15px;
}

#container1 > span,
h1 {
  position: relative;
  left: -25%;

  text-decoration: underline;
}

#container1 > h1 {
  left: -20%;
}

.textBoxs {
  width: 70%;

  border: solid 1px #f0ead1;
  border-width: 0px 0px 2px 0px;

  background-color: #41848d;

  color: #f0ead1;
  font-size: 90%;
}

.textBoxs:focus {
  outline: none;
  color: #0a1d29;
  caret-color: #0a1d29;
  border-color: #0a1d29;
  width: 80%;
}

#showPassword {
  width: 10%;
  background: none;
  border: none;

}

#showPassword > img {
  width: 100%;
}

#container1 > a > button {
  width: 100%;
  height: 100%;

  background-color: #0a1d29;

  font-size: 150%;
  color: #f0ead1;

  border: none;

  text-decoration: none;
}

#container1 > a > button:hover {
  background-color: #f0ead1;

  color: #0a1d29;
}

#container1 > a {
  width: auto;
  height: auto;

  min-width: 75%;
  min-height: 5%;
}
