/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    max-width: 400px;
}

h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

button {
    display: inline-block;
    background-color: #eb1e25;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 18px;
    transition: background-color 0.3s ease;
    border: none;
}

button:hover {
    background-color: #c7111f;
}
