#menu {
    width: auto;
    height: auto;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    left: 100%;
    top: 0%;
    transform: translate(-100%);

}

#menu>img {
    margin: 10px;
    width: 25px;
}

#links {
    visibility: hidden;
    position: absolute;
    width: auto;
    height: auto;
    min-width: 10vh;
    min-height: 100vh;
    background-color: #f0ead1;
    left: calc(100% - 10px);
    transform: translate(-100%);
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#links>* {
    margin: 15px;
}

#menu>img:hover+#links {
    visibility: visible;

}

#menu>img:hover {
    transform: rotateZ(90deg);
}

#links:hover {
    visibility: visible;
}


#links>a {
    color: #41848d;
    font-size: 125%;
    text-decoration: none;
}

#links>a:hover {
    color: #0a1d29;
}

body {
    background-color: #73a7a5;
    background-image: url(../src/img/comida.png);
    background-size: 10%;
    background-position: -100px -100px;
  
    height: 100vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #container1 {
    width: auto;
    height: auto;
  
    min-width: 15%;
    min-height: 20%;
  
    background-color: #41848d;
  
    border-radius: 25px;
  
    color: #f0ead1;
  
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  
  #container1 > * {
    margin: 15px;
  }
  
  #container1 > span,
  h1 {
    position: relative;
    left: -15%;
  
    text-decoration: underline;
  }
  
  #container1 > input {
    width: 70%;
  
    border: solid 1px #f0ead1;
    border-width: 0px 0px 2px 0px;
  
    background-color: #41848d;
  
    color: #f0ead1;
    font-size: 90%;
  }
  
  #container1 > :focus {
    outline: none;
    color: #0a1d29;
    caret-color: #0a1d29;
    border-color: #0a1d29;
    width: 80%;
  }
  
  #container1 > a > button {
    width: 100%;
    height: 100%;
  
    background-color: #0a1d29;
  
    font-size: 150%;
    color: #f0ead1;
  
    border: none;
  
    text-decoration: none;
  }
  
  #container1 > a > button:hover {
    background-color: #f0ead1;
  
    color: #0a1d29;
  }
  
  #container1 > a {
    width: auto;
    height: auto;
  
    min-width: 75%;
    min-height: 5%;
  }
  

