/* Reset de estilos padrão do navegador */
body, h1, label, button {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; /* Aplicando a fonte Montserrat */
}

body {
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

#areaProdutos {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
}

h1 {
    font-size: 32px; /* Tamanho maior para o título */
    color: #333;
    margin-bottom: 20px;
    font-weight: bold; /* Negrito no título */
}

.restaurante {
    margin-bottom: 20px;
}

.nomeRestaurante {
    font-size: 24px; /* Tamanho maior para o nome do restaurante */
    color: #444;
    margin-bottom: 10px;
    font-weight: bold; /* Negrito no nome do restaurante */
}

.produto {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.imgProduto {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border-radius: 4px; /* Adicionando borda arredondada à imagem */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Adicionando sombra à imagem */
}

/* Estilo para a descrição do produto */
.descricaoProduto {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nomeProduto {
    font-size: 20px;
    color: #333;
    margin-bottom: 5px;
}

.precoProduto {
    font-size: 18px;
    color: #eb1e25;
}

/* Estilo para a quantidade do produto */
.quantidadeProduto {
    display: flex;
    align-items: center;
}

button {
    background-color: #eb1e25;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c7111f;
}

/* Adicionar estilo para o número de itens */
.quantProduto {
    font-size: 18px;
    margin: 0 10px; /* Espaço entre os botões e o número */
    user-select: none; /* Evitar seleção de texto */
}

/* Estilo para destacar o texto quando clica nos botões */
button:active {
    color: #fff; /* Mudar a cor do texto ao clicar */
    font-weight: bold; /* Deixar o texto em negrito ao clicar */
}



#totalDaCompra {
    font-size: 28px; /* Tamanho maior para o total da compra */
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    display: block;
}

#voltar {
    background-color: #333;
    color: #fff;
    margin-top: 20px;
    margin-right: 10px;
    font-size: 18px; /* Tamanho maior para o botão de voltar */
}

#finalizar {
    background-color: #eb1e25;
    color: #fff;
    margin-top: 20px;
    font-size: 18px; /* Tamanho maior para o botão de finalizar */
}

#finalizar:hover {
    background-color: #c7111f;
}
