* {
    margin: 0px;

}

body {
    height: 100vh;

    background-color: #284ab8;

    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;

}

body > img {
    width: 100%;
    height: 50%;

    border-top: solid 25px #192c6d;

}


#area {
    width: 100%;
    height: 75%;

    background-color: #284ab8;

    border-top: solid 25px #29408b;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;

}

#inf {
    width: 50%;
    height: auto;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    color: #0d0055;
    font-family: Apple Chancery, cursive;
    font-size: 125%;
}

#inf > * {
    margin: 10px;
}

#inf > #nota {
    width: auto;
    height: auto;
}

.estrela {
    width: 3%;
}

#areaCriticas {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

#areaCriticas > h1 {
    margin: 10px;
}

.perfilUsu {
    width: 7%;

    border-radius: 50%;
}

.critica {
    margin: 10px;
    background-color: #17328b;
    border-radius: 10px;
}

.usu > span {
    position: relative;
    top: -10px;
    font-size: 125%;
}

.usu,.informacoes {
    margin: 10px;

}

.texto {
    margin: 10px;
    font-size: 120%;
}

#cardapio {
    width: 50%;
    height: auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    background-color: #284ab8;
    
}

#cardapio > h1 {
    margin: 10px;
    color: #0d0055;
}

.categoria > div {
    width: auto;
    height: auto;
    
    max-width: calc(calc(150px + 20px) * 3);

    background-color: #17328b;

    border-radius: 20px;

    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;


}

.categoria > h2 {
    text-align: center;

}

.comida {
    width: 150px;
    height: 200px;

    margin: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    background-color: #284ab8;

    border-radius: 10px;

    text-align: center;

}

.comida > * {
    margin: 5px;
}

.imagemComida {
    width: 100px;
    height: 100px;

}


/*

#container1 {
    width: 30%;
    height: auto;

    background-color: #353b51;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    border-radius: 10px 10px 0px 0px;

    

}

#container1 > span,#nota {
    position: relative;
    left: 10%;

}

#container1 > span,* > span {
    color: #dad6d3;
}

#container1 > #banner {
    width: 100%;
    height: 50%;

    border-radius: 10px 10px 0px 0px;


}

#container1 > div > .estrelas {
    width: 5%;

}

#container1 > *:not(img) {
    margin: 10px;

}

#container2 {
    width: 30%;
    height: auto;

    background-color: #413551;

    box-sizing: border-box;
    padding: 10px;
    border: 10px solid #13151d;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    color: #dad6d3;

}

#container2 > .comidas {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    margin: 15px;

}

#container2 > .comidas > img {
    width: 50%;

    
}

*/