body {
  height: auto;
  min-height: 90vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.bg {
  position: absolute;
  width: 100%;
  height: 5%;
  margin: 0;
  left: 0;
  top: 0;
  background-color: #eb1e25;
}

/* Estilos para as informações do restaurante */
#infs {
  display: flex;
  flex-direction: column;
  width: 95%;
  font-family: 'Helvetica', sans-serif;
  /* Fonte bonita de exemplo */
  background-color: #f7f7f7;
  /* Cor de fundo */
  padding: 20px;
  /* Espaçamento interno */
  border-radius: 10px;
  /* Borda arredondada */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  /* Sombra */
}

#infs h1 {
  font-size: 28px;
  color: #eb1e25;
  /* Cor do título */
  margin-bottom: 10px;
  /* Espaçamento inferior */
}

label {
  font-size: 18px;
  color: #333;
  /* Cor do texto */
  margin-top: 10px;
  /* Espaçamento superior */
}

label b {
  font-weight: bold;
}

/* Estilos para as estrelas de nota (emojis) */
#nota {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.emoji {
  font-size: 24px;
  /* Tamanho do emoji */
  margin-right: 5px;
  /* Espaçamento entre os emojis */
}

/* Estilos para o cardápio */
#cardapio {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
  font-family: 'Helvetica', sans-serif;
  /* Fonte bonita de exemplo */
}

.categoria {
  width: 100%;
  margin-bottom: 20px;
}

.h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #eb1e25;
  font-family: 'Arial', sans-serif;
  /* Fonte bonita de exemplo */
}

.comida {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 400px;
  height: auto;
  margin: 10px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
  font-family: 'Georgia', serif;
  /* Fonte bonita de exemplo */
}

.comida:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.imagemComida {
  width: 100%;
  max-height: 100px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.nomeComida {
  font-weight: bold;
  margin-top: 10px;
  font-family: 'Verdana', sans-serif;
  /* Fonte bonita de exemplo */
}

.descricaoComida {
  margin-top: 5px;
  font-style: italic;
  color: #555;
  font-family: 'Times New Roman', serif;
  /* Fonte bonita de exemplo */
}

.valorComida {
  margin-top: 5px;
  font-weight: bold;
  color: #eb1e25;
  font-family: 'Tahoma', sans-serif;
  /* Fonte bonita de exemplo */
}


/* Estilos para o input de crítica (textarea) */
#escreverCritica {
  flex: 1;
  width: 95%;
  min-height: 100px;
  /* Altura mínima do textarea */
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical;
  /* Permite redimensionamento vertical */
  overflow-y: auto;
  /* Adiciona barras de rolagem vertical se necessário */
}

#notaCritica {
  width: 100px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#addCritica {
  background-color: #eb1e25;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

#addCritica:disabled {
  background-color: #fff;
  color: #eb1e25;
  border: #eb1e25 solid 2px;
}

#addCritica:hover {
  background-color: #c9131b;
}

#addCritica:disabled:hover {
  background-color: #c5c4c4;
}

/* Estilos para a seção de críticas */
.critica {
  display: flex;
  margin-top: 20px;
  /* Espaçamento superior entre as críticas */
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f7f7f7;
}

.usu {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.perfilUsu {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

a,
#dono {
  text-decoration: none;
  color: #eb1e25;
  /* Cor do link */
  font-weight: bold;
}

.informacoes {
  display: flex;
  align-items: center;
  margin-right: 15px;
  font-size: 16px;
  color: #666;
}

.estrela {
  width: 20px;
  /* Tamanho das estrelas */
  margin-right: 5px;
  /* Espaçamento entre as estrelas */
}

.texto {
  flex: 1;
  /* Ocupa todo o espaço disponível */
  font-size: 18px;
  color: #333;
  /* Cor do texto */
}

/* Estilo para a div do círculo vermelho */
#carrinhoButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #eb1e25;
  /* Cor do círculo vermelho */
  border-radius: 50%;
  width: 70px;
  /* Ajuste o tamanho do círculo conforme necessário */
  height: 70px;
  /* Ajuste o tamanho do círculo conforme necessário */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease-in-out;
  /* Efeito de transição de cor */
}

/* Efeito de hover para o botão de carrinho */
#carrinhoButton:hover {
  background-color: #c90c17;
  /* Cor diferente no hover */
}

/* Estilo para a imagem do carrinho (mudando a cor para branca) */
#carrinhoButton img {
  width: 50px;
  /* Ajuste o tamanho da imagem do carrinho conforme necessário */
  height: 50px;
  /* Ajuste o tamanho da imagem do carrinho conforme necessário */
  fill: white;
  /* Define a cor do preenchimento da imagem como branca */
  user-select: none;
  /* Impede a seleção da imagem */
  pointer-events: none;
  /* Impede eventos de ponteiro na imagem */
}


/* Efeito de clique para o botão de carrinho */
#carrinhoButton:active {
  transform: scale(0.9);
  /* Reduz a escala ao clicar para dar um efeito de clique */
}

/* Estilo para o botão "Logout" */
#voltar {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: #eb1e25;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
}

/* Efeito de hover para o botão "Logout" */
#voltar:hover {
  background-color: #c90c17;
}

.desativado {
  filter: grayscale(100%);
}


.add {
  position: relative;
  bottom: 10px;
  left: 10px;
  background-color: #eb1e25;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
  max-width: 35%;
  max-height: 25%;
  margin-top: 10px;
  text-align: center;
}

.add:hover {
  background-color: #c90c17;
}

.remove {
  position: relative;
  bottom: 10px;
  left: 10px;
  background-color: #fff;
  color: #eb1e25;
  padding: 10px 20px;
  border: 2px solid #eb1e25;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
  max-width: 35%;
  max-height: 25%;
  margin-top: 10px;
}

.remove:hover {
  border-color: #c90c17;
  color: #c90c17;
}

.flutuante {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 15%;
  min-height: 10%;
  transition: display 0.3s ease-in-out;
  display: none;
  flex-direction: column;
  justify-content: center;
  font-family: 'Helvetica', sans-serif;
  /* Fonte bonita de exemplo */
  background-color: #f7f7f7;
  /* Cor de fundo */
  padding: 20px;
  /* Espaçamento interno */
  border-radius: 10px;
  /* Borda arredondada */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  /* Sombra */

}

.flutuante h1 {
  font-size: 150%;
  color: #eb1e25;
  /* Cor do título */
  margin-bottom: 10px;
  /* Espaçamento inferior */
}

.flutuante input {
  width: 90%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.flutuante button {
  background-color: #eb1e25;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10%;
}

.flutuante button:hover {
  background-color: #c9131b;
}

.flutuante .closeWindow{
  position: absolute;
  left: 100%;
  bottom: 100%;
  transform: translate(-125%,125%);
  background-color: #f7f7f7;
  color: #919191;
  border: none;
  border-radius: 50%;
  padding: 10px;
  width: 30px;
  height: 30px;
  font-size: 100%;
  cursor: pointer;
  margin-top: 10%;
}

.flutuante .closeWindow:hover {
  background-color: #919191;
  color: #f7f7f7;
}

/* Estilos para os radio buttons */
.selecao {
  display: none;
}

.selecao + b {
  cursor: pointer;
  padding-left: 25px;
  position: relative;
  transition: color 0.3s;
}

.selecao:checked + b::before {
  content: "✔"; /* Símbolo de verificação para representar a seleção */
  color: #eb1e25; /* Cor do símbolo quando selecionado */
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px; /* Tamanho do símbolo */
}

.selecao:checked + b {
  color: #eb1e25; /* Cor do texto quando selecionado */
}